$color: red;

@media (max-width: 600px) {
  .top {
    display: none;
  }
}

body {
  background-color: darkgrey;
  font-family: calibri, sans-serif;
}

table, tr, th, td {
  text-align: center;
  border: 3px solid black;
  border-collapse: collapse;
}

.top {
  background-color: black;
}

#info {
  font-style: italic;
}

.row {
  background-color: lightgrey;
}

ol {
  text-color: $color;
}

ul {
  text-color: $color;
}

div {
  p {
    padding: 5px;
    font-weight: bold;
  }
  h2 {
    text-emphasis-color: magenta;
  }
}

%message-shared {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}
.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  border-color: green;
}

.error {
  @extend %message-shared;
  border-color: red;
}

.warning {
  @extend %message-shared;
  border-color: yellow;
}
